<form #dynamicForm="ngForm" (ngSubmit)="onFormSubmit()">
  <div *ngFor="let formField of formFields">
    <app-form-field [props]="formField" [formModel]="formData"></app-form-field>
  </div>

  <hr />
  <h3
    [ngClass]="{
      invalid: dynamicForm.form.invalid,
      valid: dynamicForm.form.valid
    }"
  >
    <b>Is form Valid? {{ dynamicForm.form.valid }}</b>
  </h3>
  <button type="submit" [disabled]="!dynamicForm.form.valid">
    Submit Button
  </button>
  <hr />
  <div>
    <p><b>Values</b></p>
    <pre>Dynamic form: {{ dynamicForm.value | json }}</pre>
    <pre>Form Data: {{ formData | json }}</pre>
  </div>
</form>
