<div *ngIf="props.type === 'text'" class="fieldBox">
  <label [for]="props.id">{{ props.label }}</label> <br />
  <input
    #field="ngModel"
    [id]="props.id"
    [type]="props.type"
    [attr.name]="props.name"
    [placeholder]="props.placeholder"
    [(ngModel)]="formModel[props['apiDataKey']]"
    style="width: 90%"
    [required]="props.isRequired"
    [disabled]="props.isDisabled"
  />
  <p [ngClass]="{'invalid': field.invalid, 'valid': field.valid}">Is field valid? {{ field.valid }}</p>
</div>

<!-- Other types of inputs here -->
